<h1>Stupid Coaching</h1>
<div class="you">
<p><%= @input %></p>
<p>-You</p>
</div>
<div class="coach">
<p><%= @coach_answer %></p>
<p>-Your coach</p>
</div>
<div class="link">
<%= link_to "Ask a new question", ask_path %>
</div>
