

<div class="question">
  <h1>Stupid Coaching</h1>
  <form action="/answer" method= "get">
    <input type="text" class="champ" name="answer">
    <input type="submit" class="button" value="Ask!">
  </form>
</div>
